body {
	background-image: url(https://i.pinimg.com/originals/0a/bf/91/0abf91cf7637eb9def68e7d66f4b7e57.gif);
	text-align: right;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Times New Roman', cursive;
    color: #cecece;
	background-color: #303133;
    background-blend-mode: luminosity;
	background-attachment: fixed;
}